section.container {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.chart_display {
  text-align: center;
  background-color: rgb(220, 237, 248);
  border: 1px solid white;
  text-decoration: underline;
}
